.home {
    background: linear-gradient( rgba(108, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(brandi-ibrao-_SFzNHc8ftg-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    font: "Roboto Condensed", sans-serif;

}

.home__sidebar {
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
    overflow-wrap: normal;
}

@media only screen and (max-width: 768px) {

}