.links {
    background: linear-gradient( rgba(108, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(brandi-ibrao-_SFzNHc8ftg-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1em;
    justify-content: space-between;
    overflow:visible;
}

.links__link {
    font-family: "Roboto Condensed", sans-serif;

    /* p-3 border bg-light */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}

.links__link:hover {
    /* WHY DOESNT THIS WORK? */
    background-color: red !important;
}