/* ------Resume------ */

.resume {
    position: relative;
    background: linear-gradient( rgba(108, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(brandi-ibrao-_SFzNHc8ftg-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.resume img {
    margin: 0rem 0 0 0;

}