@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.gpt3__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(240,35,10);
    background: linear-gradient(270deg, rgba(240,35,10,1) 0%, rgba(238,151,8,1) 95%, rgba(255,192,0,1) 100%);
    font-family: "Roboto Condensed", sans-serif;
}

.gpt3__footer-heading {
    width: 100%;
    text-align: center;
    margin: 1rem 0 0.5rem;
}

.gpt3__footer-heading h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.04em;
}

.gpt3__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.gpt3__footer-btn p {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    word-spacing: 2px;
}

.gpt3__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.gpt3__footer-links div {
    width: 250px;
    margin: 0.5rem;
}

.gpt3__footer-links_logo {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5rem;
}

.gpt3__footer-links_logo img {
    width: 118px;
    height: 10rem;
    margin: 0 0 0.5rem 2rem;
}

.gpt3__footer-links_logo p {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.headshot {
    width: 50px;
}

.gpt3__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.gpt3__footer-links_div h4 {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.gpt3__footer-links_div p {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0.5rem 0;
    cursor: pointer;
    font: roboto
}

.gpt3__footer-links_div a:first-child {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0 0 0 0.5rem;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
}

.gpt3__footer-links_div i {
    margin: 0 0 .5rem;
}

.gpt3__footer-copyright {
    margin-top: 0.1rem;
    text-align: center;
    width: 100%;
}

.gpt3__footer-copyright p {
    font-size: 12px;
    line-height: 14px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

@media screen and (max-width: 850px) {
    .gpt3__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }   
}

@media screen and (max-width: 550px) {
    .gpt3__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links div {
        margin: 1rem 0;
    }

    .gpt3__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 440px) {
    .gpt3__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .gpt3__footer-links {
        padding: 0 0 0 0.5rem;
    }
}

