@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/**************header*****************/

.header-wrapper {  
    position: relative;
    /* background: linear-gradient( rgba(108, 0, 0, 0.1), rgba(0, 0, 0, 0.3) ), url(brandi-ibrao-_SFzNHc8ftg-unsplash.jpg) no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    height: 100vh;
    /* border: none; */
    padding-top: 0 !important;
}
  
.main-info {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif !important;
    z-index: 1;
    font-weight: 800;
    
}
  
.main-info h1 {
  text-transform: uppercase;  
  font-size: 5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-weight: 800;
  background-image: linear-gradient(60deg, #636063, #262624) !important;
  background-clip: text;
  color: transparent;
}

.main-info h1:hover {
  text-shadow: 10px 10px rgb(238, 150, 12, 1);
  transition: 0.25s ease-in-out;

}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background: linear-gradient(45deg, rgba(240,35,10,1) 0%, rgba(238,151,8,1) 95%, rgba(255,192,0,1) 100%);

  /* background-color: var(--primary-hover-red); */
  color: #3f3d3f;
  transition: 0.25s ease-in-out;
}

/* .ww {
  position: relative;
  float: left;
} */